:root {
    --black-color: #04232F;
    --text-color: #4F4F4F;
    --accent-color: #02B1D0;
    --formUnfilledText-color: #B3C0FF;
    --formUnfilled-color: #B5B5B5;
    --red-color: #F94D4D;

}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
}
.form-control {
    display: inline-block !important;
    width: 60% !important;
    margin-bottom: 25px !important;
}
.show-result {
    margin-top: 25px;
}

